@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
}

.player{
    background-color: rgb(205, 205, 255);
    height: 100vh;
    width: 33%;
}

.monitor{
    display: flex;
    flex-direction: column;
    background-color: rgb(143, 143, 143);
    height: 100vh;
    width: 33%;
    align-items: center;
}

.result{
    background-color: rgb(255, 255, 255);
    height: 60%;
    width: 80%;
    margin-top: 10%;
    border-radius: 25px;
}

.btnGrp{
    margin-top: 10%;
}

.card{
    border-radius: 20px;
    height: 150px;
    width: 150px;
    font-family: 'RixYeoljeongdo_Regular';
    color: white;
}

.rock{
    background-color: rgb(255, 166, 0);
}

.scissor{
    background-color: green;
}

.paper{
    background-color: blueviolet;
}

.opponent{
    background-color: rgb(255, 205, 205);
    height: 100vh;
    width: 33%;
}